.forecast-card {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #dadada;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.forecast-card__wrapper{
  width: 100%;
  display: grid;
  gap: 5px
}

.forecast-card__day, .forecast-card__condition {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

.forecast-card__date{
  font-size: 0.7em;
  font-weight: 300;
  margin: 0;
}

.forecast-card__value {
  font-size: 2em;
  font-weight: 700;
}

.forecast-card__icon {
  width: auto;
  height: 80%;
}

@media (min-width: 768px) {
  .forecast-card__icon {
    width: 60%;
    height: auto;
  }
}