.temperature{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.temperature__title{
  margin: 0;
  font-weight: 600;
  font-size: 96px;
  color: var(--white);
}

.temperature__degree{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}