.wrapper{
  height: 100vh;
}

.wrapper__container{
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper__container{
    display: grid;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .wrapper__container{
    transition: ease-out 300ms;
    width: 70%;
  }
}

@media (min-width: 1280px) {
  .wrapper__container{
    transition: ease-in 300ms;
    width: 60%;
  }
}