.forecast-list{
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 10px
}

@media (min-width: 768px) {
  .forecast-list{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .forecast-list{
    width: 100%;
  }
}