.condition {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.condition__image{
  object-fit: cover;
}

.condition__name{
  font-weight: 400;
  font-size: 1.5em;
  color: var(--white);
}