.condition {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.condition__weapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.condition__image{
  object-fit: cover;
}

.condition__name{
  font-weight: 400;
  font-size: 1.5em;
  color: var(--white);
}

@media (min-width: 768px) {
  .condition__image{
    display: none;
  }
}
