:root{
  --white: #fff;
  --black300: #454545;
}

html {
  height: 100%;
  background: linear-gradient(
    162.99deg,
    rgba(162, 210, 255, 0.98) 0.66%,
    rgba(140, 133, 239, 0.52) 98.41%
  );
  /* background-repeat: no-repeat;
  background-size: contain; */
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
