  /**
 * Vacaciones Pragma SA
 */

.shimmers {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.shimmer {
  width: 100%;

  border-radius: 8px;
  background-image: linear-gradient(
    90deg,
    var(--color-test) 0%,
    var(--color-test) 40%,
    var(--color-test2) 50%,
    var(--color-test2) 55%,
    var(--color-test) 65%,
    var(--color-test) 100%
  );

  background-size: 400%;
  animation: shimmer 1500ms infinite;

  cursor: wait;
}

@keyframes shimmer {
  from {
    background-position: 100% 100%;
  }

  to {
    background-position: 0 0;
  }
}
